/* You can add global styles to this file, and also import other style files */
.highlight {
  padding: 1rem;
  background-color: #f8f9fa;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
label {
  margin-top: 0.5rem !important;
  margin-bottom: 0px !important;
  display: contents!important;
}

.gray-label {
  color: #c6c6c6;
}

.ng-dirty .ng-invalid {
    ~ .invalid-feedback {
      display: block;
    }
  }